<mat-toolbar fxLayout="row">
  <span fxFlex="grow">{{siteToUpdate ? 'Update' : 'Create'}} a site</span>
</mat-toolbar>

<div style="margin-top:15px" fxLayout="row" fxLayoutGap="20px" style="padding: 20px 50px">


  <form [formGroup]="siteForm" (ngSubmit)="onSubmit()" fxFlex="60%">

    <mat-card>
      <mat-card-header>
        <mat-card-title>Site</mat-card-title>
        <mat-card-subtitle>{{siteToUpdate ? 'Update' : 'Create'}} Site</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div fxLayout="column" fxLayoutGap="10px">
          <mat-form-field appearance="outline">
            <input formControlName="name" matInput placeholder="Name">
            <mat-error *ngIf="f.name.errors && f.name.errors.required">Name is required</mat-error>
          </mat-form-field>


          <mat-form-field appearance="outline">
            <textarea matInput formControlName="description" placeholder="Description"></textarea>
            <mat-error *ngIf="f.description.errors && f.description.errors.required">Description is required</mat-error>
          </mat-form-field>

         <app-browse-image [imageSrc]="siteImageSrc" (onImageSelected)="image = $event"></app-browse-image>
         
          <!-- Todo: not hardcoded list -->
          <mat-form-field appearance="outline">
            <mat-label>Region</mat-label>
            <mat-select formControlName="region">
              <mat-option [value]="'North'"> North </mat-option>
              <mat-option [value]="'South'"> South </mat-option>
              <mat-option [value]="'Central'"> Central </mat-option>
              <!-- <mat-option [value]="'Jerusalem'"> Jerusalem </mat-option> -->
            </mat-select>
            <mat-error *ngIf="f.region.errors && f.region.errors.required">Region is required</mat-error>
          </mat-form-field>

          <!-- <mat-form-field appearance="outline">
            <input formControlName="visitorsPerMonth" type="number" matInput placeholder="Visitors per month">
            <mat-error *ngIf=" f.visitorsPerMonth.errors && f.visitorsPerMonth.errors.required">Visitors per month is
              required</mat-error>
            <mat-error *ngIf=" f.visitorsPerMonth.errors && f.visitorsPerMonth.errors.min">Visitors per month must be
              positive</mat-error>
          </mat-form-field> -->

          <!-- <mat-checkbox formControlName="hasFoodArea">Has food area</mat-checkbox> -->
<!-- 
          <mat-form-field appearance="outline">
            <input formControlName="ticketPrice" type="number" matInput placeholder="Ticket price">
            <mat-error *ngIf="f.ticketPrice.errors && f.ticketPrice.errors.required">Ticket price is required
            </mat-error>
            <mat-error *ngIf="f.ticketPrice.errors && f.ticketPrice.errors.min">Ticket price must be positive
            </mat-error>
          </mat-form-field> -->

          <mat-form-field appearance="outline">
            <input formControlName="address" matInput placeholder="Address" #address>
            <mat-error *ngIf="f.address.errors && f.address.errors.required">Address is required</mat-error>
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button [disabled]="siteForm.invalid" color="primary" button mat-button>
          <mat-icon>save</mat-icon>

          Save
        </button>
      </mat-card-actions>
    </mat-card>

  </form>


  <div fxFlex="50%">
    <app-map [addresses]="[address.value]"></app-map>
  </div>
</div>