<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" fxLayout="column" class="dialog-form">
  <mat-form-field>
    <input matInput placeholder="Email" type="email" formControlName="email">
    <mat-error *ngIf="f.email.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="f.email.hasError('email')">
      Wrong email <strong>format</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="User Name" formControlName="username">
    <mat-error *ngIf="f.username.hasError('required')">
      User Name is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input type="password" matInput placeholder="Password" formControlName="password">
    <mat-error *ngIf="f.password.hasError('required')">
      Password is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <button [disabled]="registerForm.invalid" color="primary" button mat-raised-button fxFlexAlign="end">
    register
  </button>
</form>
