<div>
  <p *ngIf="!route.matches">{{ route.description }}</p>
  <p *ngIf="route.matches">
    <span *ngFor="let match of route.matches; index as i; let first = first; let last = last">
      {{ route.description.substring(first ? 0 : route.matches[i - 1].end, match.start) }}
      <mark>{{ route.description.substring(match.start, match.end) }}</mark>
      <span *ngIf="last">{{ route.description.substring(match.end, route.description.length - 1) }}</span>
    </span>
  </p>
</div>
