<h1 mat-dialog-title *ngIf="currentUser$ | async as user">Hi {{user.username}}, would you like to change your password?</h1>
<mat-dialog-content class="mat-typography">
  <form *ngIf="userUpdateForm" [formGroup]="userUpdateForm" fxLayout="column" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <input matInput formControlName="oldPassword" placeholder="Old password" type="password">
      <mat-hint>The old password to replace</mat-hint>
      <mat-error *ngIf="f.oldPassword.hasError('required')">
        old password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input matInput formControlName="newPassword" placeholder="New password" type="password">
      <mat-hint>The new password</mat-hint>
      <mat-error *ngIf="f.newPassword.hasError('required')">
        new password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <button [disabled]="userUpdateForm.invalid" color="primary" mat-raised-button fxFlexAlign="ed">
      change password
    </button>
  </form>
</mat-dialog-content>
