
<div class="bubble"></div>
<div class="bubble"></div>
<div class="bubble"></div>
<div class="bubble"></div>
<div class="bubble"></div>
<div class="main">
  <h1>404</h1>
  <p>It looks like you're lost...<br/>That's a trouble?</p>
  <button routerLink="/" type="button">Go to home page</button>
</div>