<mat-dialog-content class="mat-typography">
  <mat-tab-group>
    <mat-tab label="Login"><app-login></app-login></mat-tab>
    <mat-tab label="Register"><app-register></app-register></mat-tab>
  </mat-tab-group>
</mat-dialog-content>
