<mat-toolbar fxLayout="row">
  <span fxFlex="grow">Admin</span>
</mat-toolbar>

<div fxLayout="column" fxLayoutGap="50px" class="admin-panel">
  <section fxLayout="row" fxLayoutGap="20px">
    <mat-card fxFlex="50%">
      <mat-card-header>
        <mat-card-title>Routes</mat-card-title>
        <mat-card-subtitle>by season</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <app-routes-by-season></app-routes-by-season>
      </mat-card-content>
    </mat-card>

    <mat-card fxFlex="50%">
      <mat-card-header>
        <mat-card-title>Routes</mat-card-title>
        <mat-card-subtitle>by difficulty</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <app-routes-by-difficulty></app-routes-by-difficulty>
      </mat-card-content>
    </mat-card>
  </section>

  <section fxLayout="row" fxLayoutGap="20px">
    <mat-card fxFlex="50%">
      <mat-card-header>
        <mat-card-title>News</mat-card-title>
        <mat-card-subtitle>updates on input blur</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="site-news" appearance="outline">
          <mat-label>news</mat-label>
          <textarea matInput placeholder="Shepherd's News" [(ngModel)]="news" [ngModelOptions]="{updateOn: 'blur'}" app-news [(news)]="news"></textarea>
        </mat-form-field>
      </mat-card-content>
    </mat-card>

    <mat-card fxFlex="50%">
      <mat-card-header>
        <mat-card-title>Comments</mat-card-title>
        <mat-card-subtitle>Distinct Count</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        Total number of unique words in all site's comments: {{ commentsUniqueWords$ | async}}
      </mat-card-content>
    </mat-card>
  </section>
</div>