<mat-toolbar fxLayout="row">
  <span fxFlex="grow">{{routeToUpdate ? 'Update' : 'Create'}} a route</span>
</mat-toolbar>

<div style="margin-top:15px" fxLayout="row" fxLayoutAlign="center start">
  <form *ngIf="routeForm; else loading" [formGroup]="routeForm" (ngSubmit)="onSubmit()" fxFlex="60%">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Route</mat-card-title>
        <mat-card-subtitle>{{routeToUpdate ? 'Update' : 'Create'}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>


        <div fxLayout="column" fxLayoutGap="5px">
          <mat-form-field *ngIf=" (sites$ | async) as sites;else loading sites" appearance="outline">
            <mat-label>Site</mat-label>
            <mat-select formControlName="site">
              <mat-option *ngFor="let site of sites" [value]="site._id">
                {{site.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="f.site.errors && f.site.errors.required">Site is required</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input formControlName="name" matInput placeholder="Name">
            <mat-error *ngIf="f.name.errors && f.name.errors.required">Name is required</mat-error>
          </mat-form-field>


          <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea formControlName="description" matInput placeholder="Description"></textarea>
            <mat-error *ngIf="f.description.errors && f.description.errors.required">Description is required</mat-error>
          </mat-form-field>

          <!-- Todo: not hardcoded list -->
          <mat-form-field appearance="outline">
            <mat-label>Difficulty</mat-label>
            <mat-select formControlName="difficulty">
              <mat-option [value]="'Beginner'">
                Beginner
              </mat-option>
              <mat-option [value]="'Intermediate'">
                Intermediate
              </mat-option>
              <mat-option [value]="'Advanced'">
                Advanced
              </mat-option>
              <mat-option [value]="'Expert'">
                Expert
              </mat-option>
            </mat-select>
            <mat-error *ngIf="f.difficulty.errors && f.difficulty.errors.required">Difficulty is required</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Length in kilometers</mat-label>
            <input formControlName="length" matInput type="number" placeholder="Length in days" />
            <mat-error *ngIf="f.length.errors && f.length.errors.required">Length is required</mat-error>
            <mat-error *ngIf="f.length.errors && f.length.errors.min">Length must be positive</mat-error>
            <mat-error *ngIf="f.length.errors && f.length.errors.max">Length must be under 31</mat-error>
          </mat-form-field>

          <app-browse-image [imageSrc]="routeImageSrc" (onImageSelected)="image = $event"></app-browse-image>

          <mat-checkbox formControlName="containsWater">Contains water</mat-checkbox>

          <!-- Todo: not hardcoded list -->
          <mat-form-field appearance="outline">
            <mat-label>Recommended season</mat-label>
            <mat-select formControlName="recommendedSeason">
              <mat-option [value]="'Fall'">
                Fall
              </mat-option>
              <mat-option [value]="'Winter'">
                Winter
              </mat-option>
              <mat-option [value]="'Spring'">
                Spring
              </mat-option>
              <mat-option [value]="'Summer'">
                Summer
              </mat-option>
            </mat-select>
            <mat-error *ngIf="f.recommendedSeason.errors && f.recommendedSeason.errors.required">Recommended season is
              required</mat-error>
          </mat-form-field>

        </div>


      </mat-card-content>
      <mat-card-actions>
        <button [disabled]="routeForm.invalid" color="primary" mat-button>Save</button>
      </mat-card-actions>
    </mat-card>

  </form>
</div>
