.container {
  height: 100%;
  padding: 10px;
}

.list {
  width: 35%;
  min-width: 400px;
}

.card {
  margin: 15px 0;
}

.drawer {
  width: 350px;
  padding: 10px;
}

.controls {
  margin: 5px;
}

.search-panel {
  display: flex;
  align-items: center;
  margin: 5px;    
}

.search-form-field {
width: 200px;
margin: 0 5px;
}

.mat-form-field {
  font-size: 13px !important;
}
