<mat-drawer-container *ngIf="currentUser$ | async as currentUser" class="container">
  <mat-drawer #sidenav mode="side" position="end" class="drawer">
    <div *ngIf="selectedUser">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <h3>Edit {{selectedUser.username}}'s info</h3>
        <button mat-icon-button aria-label="exit" (click)="sidenav.close()">
          <mat-icon>clear</mat-icon>
        </button>
      </div>
      <div class="controls">
        <mat-slide-toggle [(ngModel)]="selectedUser.isAdmin" (change)="updateAdmin()">Admin</mat-slide-toggle>
        <form *ngIf="userUpdateForm" [formGroup]="userUpdateForm" fxLayout="column">
          <mat-form-field appearance="outline">
            <input matInput formControlName="username" placeholder="Username">
            <mat-hint>new Username for the user</mat-hint>
            <mat-error *ngIf="f.username.hasError('required')">
              Username is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <input matInput formControlName="email" placeholder="Email">
            <mat-hint>new Email for the user</mat-hint>
            <mat-error *ngIf="f.email.hasError('email') && !f.email.hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="f.email.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <button fxFlexAlign="end" mat-button (click)="onSubmit(sidenav.close)" [disabled]="!userUpdateForm.dirty">Update</button>
        </form>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content fxLayout="column" fxLayoutAlign="start center">
    <div class="search-panel">
      <mat-icon style="padding-left: 15px;">search</mat-icon>
      <form [formGroup]="myForm">
          <mat-form-field class="search-form-field">
            <input matInput type="text" placeholder="User Name" formControlName="username">
            <button mat-button *ngIf="username" matSuffix mat-icon-button aria-label="Clear" (click)="clear()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field class="search-form-field">
              <input matInput type="text" placeholder="Email" formControlName="email">
              <button mat-button *ngIf="email" matSuffix mat-icon-button aria-label="Clear" (click)="clear()">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          <mat-form-field class="search-form-field">
            <mat-label>Permission</mat-label>
            <mat-select #fontSize formControlName="isAdmin">
              <mat-option value="All">All</mat-option>
              <mat-option value="Yes">Admin</mat-option>
              <mat-option value="No">No Admin</mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </div>
    <div fxLayout="column" class="list">
      <mat-card *ngFor="let user of filteredUsers$ | async" class="card">
        <mat-card-header>
          <mat-icon mat-card-avatar>account_circle</mat-icon>
          <mat-card-title>{{user.username}} <span *ngIf="isSameUser(user,currentUser)">(me)</span></mat-card-title>
          <mat-card-subtitle>{{user.email}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <button mat-button (click)="editUser(user);sidenav.open()">Edit</button>
          <button mat-button color="warn" (click)="deleteUser(user)">Delete</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
