<ng-container *ngIf="filteredRoutes | async as routes; else loading">

  <mat-toolbar fxLayout="row" >
    <span>Routes ({{routes?.length}})</span>
    <div class="search-panel">
      <mat-icon style="padding-left: 15px;">search</mat-icon>
      <form [formGroup]="myForm">
        <mat-form-field class="search-form-field">
          <input matInput type="text" placeholder="Route Name" formControlName="searchName">
          <button mat-button *ngIf="searchName" matSuffix mat-icon-button aria-label="Clear" (click)="clear()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field class="search-form-field">
          <mat-label>Recommended Season</mat-label>
          <mat-select #fontSize formControlName="searchSeason">
            <mat-option value="Summer">Summer</mat-option>
            <mat-option value="Winter">Winter</mat-option>
            <mat-option value="Fall">Fall</mat-option>
            <mat-option value="Spring">Spring</mat-option>
            <mat-option value="All">All</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="search-form-field">
          <mat-label>Difficulty</mat-label>
          <mat-select #fontSize formControlName="difficulty">
            <mat-option value="Beginner">Beginner</mat-option>
            <mat-option value="Intermediate">Intermediate</mat-option>
            <mat-option value="Advanced">Advanced</mat-option>
            <mat-option value="Expert">Expert</mat-option>
            <mat-option value="All">All</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </div>
  </mat-toolbar>

  <mat-card>
    <div *ngFor="let route of routes; let first = first; let last = last">
      <app-route [route]="route" (onDelete)="handleDelete()" [showMoreInfo]="true" [showDelete]="true"
        [showEdit]="true"></app-route>
    </div>
  </mat-card>
</ng-container>
<a *appIsLogged routerLink="/routes/create" class="add-button" mat-fab color="primary" matTooltip="Add new route">
  <mat-icon>add</mat-icon>
</a>


<ng-template #loading>
  <div class="loading">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>