<mat-toolbar fxLayout="row" color="primary">
  <div fxLayout="row" fxFlex="grow">
    <div fxFlex="noshrink">
      <button mat-button routerLink="/home" [routerLinkActive]="'active'">Shepherd</button>
      <button mat-button routerLink="/routes" [routerLinkActive]="'active'">
        <mat-icon>directions_run</mat-icon>
        Routes
      </button>
      <button *appIsAdmin mat-button routerLink="/admin" [routerLinkActive]="'active'">
        <mat-icon>dashboard</mat-icon>
        Admin
      </button>
      <ng-container *ngIf="users$ | async as users">
        <button [matBadge]=users matBadgeColor="warn" *appIsAdmin mat-button routerLink="/users"
                [routerLinkActive]="'active'">
          <mat-icon>people</mat-icon>
          Users
        </button>
      </ng-container>
      <button matTooltip="news" mat-button (click)="openNews()">
        <mat-icon>announcement</mat-icon>
        News
      </button>
      <button mat-button matTooltip="click enter to search">
        <mat-icon>search</mat-icon>
          <mat-form-field>
          <input (keydown.enter)="onKeydown($event)" matInput placeholder="Search" aria-label="Search">
        </mat-form-field>
      </button>
    </div>
    <button mat-button *ngIf="currentUser$ | async as user" (click)="openChangePasswordDialog()">
      <span> Hello
        {{ user.username }}
      </span>
    </button>
    <button mat-stroked-button *appIsLogged="true" (click)="openAuthDialog()">Login</button>
    <button mat-stroked-button *appIsLogged (click)="logout()">Logout</button>
  </div>
</mat-toolbar>
<div class="content" [@fade]="o.isActivated ? o.activatedRoute : ''" fxFlex="grow">
  <router-outlet #o="outlet"></router-outlet>
</div>
