.search-panel {
  display: flex;
  align-items: center;
  margin: 5px;
}

.search-form-field {
  width: 200px;
  margin: 0 5px;
}

.mat-form-field {
  font-size: 13px !important;
}

.add-button {
  position: fixed;
  right: 10px;
  bottom: 10px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.no-results {
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 30px;
  font-size: 22px; 
}
