<ng-container *ngIf="!isLoading && matchedRoutes && matchedRoutes.length === 0">
  <div class="no-results">Sorry, we couldnt found any routes.</div>
</ng-container>

<ng-container *ngIf="!isLoading && matchedRoutes && matchedRoutes.length !== 0">
  <mat-toolbar fxLayout="row" >
    <span>Routes ({{matchedRoutes?.length}})</span>
  </mat-toolbar>
  <mat-card>
    <div *ngFor="let route of matchedRoutes; let first = first; let last = last">
      <app-route [route]="route" (onDelete)="handleDelete()" [showMoreInfo]="true" [showDelete]="true" [showEdit]="true"></app-route>
    </div>
  </mat-card>
</ng-container>
<a *appIsLogged routerLink="/routes/create" class="add-button" mat-fab color="primary" matTooltip="Add new route">
  <mat-icon>add</mat-icon>
</a>

<ng-container *ngIf="isLoading">
  <div class="loading">
    <mat-spinner></mat-spinner>
  </div>
</ng-container>