<app-list-item image="{{ routeImageUrl }}">
  <ng-container *ngTemplateOutlet="routeHeader; context: { route: route }"></ng-container>
  <ng-container *ngTemplateOutlet="routeDesc; context: { route: route }"></ng-container>
</app-list-item>

<ng-template #routeHeader let-route="route">
  <div fxLayout="row">
    <h3 fxFlex="grow" class="route-name">{{ route.name }}</h3>

    <div fxLayout="row" fxLayoutGap="5px">
      <ng-container *appIsAdmin>
        <button *ngIf="showEdit" [routerLink]="['/routes/update', route._id]" matTooltip="edit route" mat-icon-button>
          <mat-icon>edit</mat-icon>
        </button>
      </ng-container>

      <ng-container *appIsAdmin>
        <button (click)="handleOnDelete()" *ngIf="showDelete" matTooltip="delete route" mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
      </ng-container>

      <a mat-icon-button [routerLink]="['/routes/', route._id]" matTooltip="show more details" *ngIf="showMoreInfo">
        <mat-icon>info</mat-icon>
      </a>
    </div>
  </div>
</ng-template>

<ng-template #routeDesc let-route="route" class="route-content">
  <app-route-description [route]=route></app-route-description>
  <div>
    <label>Difficulty Level: </label>
    <span>{{ route.difficulty }}</span>
  </div>
  <div>
    <label>Length: </label>
    <span>{{ route.length }} Days</span>
  </div>
  <div>
    <label>Recommended Season: </label>
    <span>{{ route.recommendedSeason }}</span>
  </div>
  <div class="contains-water">
    Contains Water: 
    <mat-icon *ngIf="route.containsWater">check</mat-icon>
    <mat-icon *ngIf="!route.containsWater">close</mat-icon>
  </div>
</ng-template>