<h1 mat-dialog-title>Delete</h1>
<div mat-dialog-content>
  Are you sure you want to delete this?
</div>


<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No</button>
  <button mat-button [mat-dialog-close]=true cdkFocusInitial>Delete</button>
</div>