<ng-container *ngIf="filteredSites$ | async as sites; else loading">

  <mat-toolbar fxLayout="row">
    <span>Sites ({{sites?.length}})</span>
    <div class="search-panel">
      <mat-icon style="padding-left: 15px;">search</mat-icon>
      <form [formGroup]="myForm">
        <mat-form-field class="search-form-field">
          <input matInput type="text" placeholder="Site Name" formControlName="searchName" />
          <button mat-button *ngIf="searchName" matSuffix mat-icon-button aria-label="Clear" (click)="clear()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Region</mat-label>
          <mat-select formControlName="searchRegion">
            <mat-option value="North">North</mat-option>
            <mat-option value="South">South</mat-option>
            <mat-option value="Central">Central</mat-option>
            <!-- <mat-option value="Jerusalem">Jerusalem</mat-option> -->
            <mat-option value="All">All</mat-option>
          </mat-select>
        </mat-form-field>


      </form>
    </div>
  </mat-toolbar>


  <div fxLayout="row" fxLayoutGap="20px">
    <mat-card fxFlex="50%">
      <div *ngFor="let site of sites; let first = first; let last = last">
        <app-site [site]="site" (onDelete)="handleDelete()" [showMoreInfo]="true" [showDelete]="true" [showEdit]="true">
        </app-site>
        <mat-divider *ngIf="!last"></mat-divider>
      </div>


    </mat-card>

    <mat-card fxFlex="50%">
      <app-map [addresses]="addresses$ | async"></app-map>
    </mat-card>


  </div>
</ng-container>

<a *appIsLogged routerLink="/sites/create" class="add-button" mat-fab color="primary" matTooltip="add new site">
  <mat-icon>add</mat-icon>
</a>



<ng-template #loading>
  loading
</ng-template>