<h1 mat-dialog-title>Current Site News!</h1>
<div mat-dialog-content>
  <p app-news (newsChange)="this.news= $event">{{news}}</p>
</div>

<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]=true cdkFocusInitial>OK</button>
</div>