.comments {
    display: flex;
    flex-direction: column;
}

.comments .mat-form-field {
    width: 100%;
}

.comments .comment-header {
          display: flex;
          color: #3f3e3e;
}

.comments .commment-username {
    font-weight: 500;
    margin-right:0.7rem;
}