<ng-container *ngIf="route$ | async as route">
  <mat-toolbar fxLayout="row">
    <span fxFlex="grow">{{route.name | titlecase}}</span>
  </mat-toolbar>
  <mat-accordion multi=true>
    <mat-expansion-panel expanded=true>
      <app-route [route]=route [showDelete]=true [showEdit]=true (onDelete)="handleDelete()">
      </app-route>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Route Comments
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="comments" *ngIf="routeComments$ | async as comments">
        <p *ngIf="!comments || comments.length === 0"> No Comments Yet!</p>
        <mat-list *ngIf="comments || comments.length > 0">
          <mat-list-item *ngFor="let comment of comments; let first = first; let last = last">
            <mat-icon mat-list-icon>comment</mat-icon>
            <div mat-line class="comment-header">
              <p class="commment-username"> {{comment.user?.username}} </p>
              <p > {{comment.createdAt | date}} </p>
            </div>
            <h4 mat-line>{{comment.content}}</h4>
            <ng-container *appIsUserOwner="comment" >
                <button (click)="handleOnCommentDelete(comment)" matTooltip="delete comment" mat-icon-button>
                  <mat-icon>delete</mat-icon>
                </button>
            </ng-container>
            <mat-divider *ngIf="!last"></mat-divider>
          </mat-list-item>
        </mat-list>
        <form *appIsLogged [formGroup]="commentForm" (ngSubmit)="onSubmit()" fxFlex="60%">
          <mat-form-field appearance="outline">
            <textarea formControlName="content" matInput placeholder="Write a comment"></textarea>
            <mat-error *ngIf="f.content.errors && f.content.errors.required">Content is required</mat-error>
          </mat-form-field>
          <mat-card-actions>
            <button [disabled]="commentForm.invalid" color="primary" mat-stroked-button>
              <mat-icon>add_comment</mat-icon>
              Comment
            </button>
          </mat-card-actions>
        </form>
        <h4 *appIsLogged="true">log in to comment</h4>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</ng-container>
