/* :host {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
} */

:host {
  background-color: #3f51b5;

  border-top: 1px solid #ffffff2b;
  display: flex;
}
:host .base {
  padding: 20px;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-direction: column;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
:host .base h1 {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 30vw;
  display: block;
  margin: 0;
  color: #ca3074;
  position: relative;
  z-index: 0;
  animation: colors 2s ease-in-out forwards infinite;
}
:host .base h1:before {
  content: "U";
  position: absolute;
  top: -9%;
  right: 40%;
  transform: rotate(180deg);
  font-size: 15vw;
  color: #f6c667;
  z-index: -1;
  text-align: center;
  animation: lock 0.2s ease-in-out forwards;
  animation-delay: 1s;
}
:host .base h2 {
  font-family: "Cabin", sans-serif;
  color: #ca3074;
  font-size: 5vw;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  animation: colors 0.4s ease-in-out forwards;
  animation-delay: 1.5s;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
:host .base h5 {
  font-family: "Cabin", sans-serif;
  color: #ca3074;
  font-size: 2vw;
  margin: 0;
  text-align: center;
  opacity: 0;
  animation: show 2s ease-in-out forwards;
  color: #ca3074;
  animation-delay: 2s;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

@keyframes lock {
  50% {
    top: -4%;
  }
  100% {
    top: -6%;
  }
}
@keyframes colors {
  50% {
    transform: scale(1.1);
  }
  100% {
    color: #ca3074;
  }
}
@keyframes show {
  100% {
    opacity: 1;
  }
}
