<div class="list-item">
  <img [src]="sanitizer.bypassSecurityTrustResourceUrl(image)" alt="" class="list-item-image" />
  <div fxLayout="column" fxFlex="grow" style="margin-left:50px; ">
    <ng-content></ng-content>
  </div>
</div>
