/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background: #f5f5f5;
  font-family: Roboto, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.active {
  background: #ffffff47;
}

/* router-outlet + * {
    margin: 15px;
    display: block;
} */

router-outlet ~ * {
  position: absolute;

  height: calc(100% - 63px);
  width: 100%;
}

app-root {
  height: 100%;
  flex-direction: column;
}
