<mat-toolbar fxLayout="row">
  <span fxFlex="grow">Home</span>
</mat-toolbar>

<div fxLayout="column" fxLayoutGap="50px">
  <section fxLayout="row" fxLayoutGap="20px">
    <mat-card fxFlex="50%">
        <div class="home-description">
          <span>Welcome to Shepherd! The BEST way to find a Journey these days...</span>
          <br/>
          <span>Here you may find all kind of sites across our country, in all kind of difficulty levels, seasons and regions.</span>
          <span>For each site - you can find some routes that may interest you.</span>
          <br/>
          <span>Share your personal experience about a site with everyone else and receive feedback and suggestions.</span>
      </div>
      <div class="show-more">
          <a routerLink="/routes">Just start looking for your next journey...</a> And we will help you find yourself!
      </div>
    </mat-card>
    <mat-card fxFlex="50%">
      <app-map [addresses]="addresses$ | async"></app-map>
    </mat-card>
  </section>
</div>