<div class="route-image">
    <button type="button" color="accent" mat-raised-button (click)="fileInput.click()">Select Image</button>
    <input hidden (change)="selectFiles($event)" #fileInput type="file" accept="Image/*" name="file" id="file">
    <div *ngIf="imageSrc" id="selected-image-container">
    <img height="120" width="300" [src]="imageSrc" >
    </div>
</div>
