#selected-image-container {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

#selected-image-container img {
    height: 200px;
    width: 350px;
    border: 1px solid #ff4081;
}

.route-image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-self: center;
}

.route-image button {
    width: 350px;
}