<ng-container *ngIf="site$ | async as site">

  <mat-toolbar fxLayout="row">
    <span fxFlex="grow">{{site.name | titlecase}}</span>
  </mat-toolbar>

  <mat-accordion multi=true>
    <mat-expansion-panel expanded=true>
      <app-site [site]=site [showDelete]=true [showEdit]=true (onDelete)="handleDelete()">
      </app-site>
    </mat-expansion-panel>


    <mat-expansion-panel expanded=true>

      <mat-expansion-panel-header>
        <mat-panel-title>
          Map
        </mat-panel-title>
        <mat-panel-description>
          Site's Location
        </mat-panel-description>
      </mat-expansion-panel-header>

      <app-map [addresses]=[site.address]></app-map>


    </mat-expansion-panel>
    <ng-container *ngIf="siteRoutes$| async as routes">
      <mat-expansion-panel expanded=true>

        <mat-expansion-panel-header>
          <mat-panel-title>
            Site's Routes ({{routes?.length}})
          </mat-panel-title>

        </mat-expansion-panel-header>



        <div *ngFor="let route of routes; let first = first; let last = last">
          <app-route [route]="route" [showMoreInfo]="true"></app-route>
          <mat-divider *ngIf="!last"></mat-divider>
        </div>

        <div *ngIf="routes?.length === 0">
          No Routes yet!

        </div>






      </mat-expansion-panel>
    </ng-container>
    <mat-expansion-panel expanded=true>

      <mat-expansion-panel-header>
        <mat-panel-title>
          Comments
        </mat-panel-title>
      </mat-expansion-panel-header>


    </mat-expansion-panel>


  </mat-accordion>








</ng-container>