<app-list-item image="{{siteImageUrl}}">
  <ng-container *ngTemplateOutlet="siteHeader;context: {site:site}"></ng-container>
  <ng-container *ngTemplateOutlet="siteDesc;context: {site:site}"></ng-container>
</app-list-item>
<ng-template #siteHeader let-site="site">

  <div fxLayout="row">
    <h4 fxFlex="grow">{{site.name}}</h4>

    <div fxLayout="row" fxLayoutGap="5px">
      <ng-container *appIsLogged>
        <button [routerLink]="['/sites/update',site._id]" *ngIf="showEdit" matTooltip="edit site" mat-icon-button>
          <mat-icon>edit</mat-icon>
        </button>
      </ng-container>
      <ng-container *appIsLogged>
        <button (click)="handleOnDelete()" *ngIf="showDelete" matTooltip="delete site" mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
      </ng-container>
      <a mat-icon-button matTooltip="show more details" [routerLink]="['/sites/',site._id]" *ngIf="showMoreInfo">
        <mat-icon>info</mat-icon>
      </a>
    </div>
  </div>
</ng-template>
<ng-template #siteDesc let-site="site">
  <p>{{site.description}}</p>
  <p>{{site.region}}</p>
  <!-- <div>
    Visitors per month : {{site.visitorsPerMonth}}
  </div>
  <div *ngIf="site.ticketPrice !== 0">
    Ticket price: {{site.ticketPrice}}
  </div>
  <div *ngIf="site.ticketPrice === 0">
    Free enterance <mat-icon>check</mat-icon>
  </div>
  <div>Has food area:

    <mat-icon *ngIf="site.hasFoodArea">check</mat-icon>
    <mat-icon *ngIf="!site.hasFoodArea">close</mat-icon>

  </div> -->
</ng-template>
